/* 
  Referência:
  https://codepen.io/BuiltByEdgar/pen/jWOVYQ
*/

.switchContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* transform: translate3d(-50%, -50%, 0); */
}

.switch {
  position: absolute;
  opacity: 0;
}

.switch + div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background-color: #713fff;
  transition-duration: 0.4s;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}

.switch + div span {
  position: absolute;
  font-size: 1.6rem;
  color: white;
  margin-top: 12px;
}

.switch + div span:nth-child(1) {
  margin-left: 15px;
}

.switch + div span:nth-child(2) {
  margin-left: 55px;
}

.switch:checked + div {
  width: 68px;
  background-position: 0 0;
  background-color: #713fff;
}

.switch + div {
  width: 68px;
  height: 21px;
}

.switch:checked + div {
  background-color: #00b0f2;
}

.switch + div > div {
  float: left;
  width: 18px;
  height: 18px;
  border-radius: inherit;
  background: #ffffff;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-duration: 0.4s;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 2px;
  margin-left: 2px;
}

.switch:checked + div > div {
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

.bigswitch.switch + div > div {
  width: 44px;
  height: 44px;
  margin-top: 1px;
}

.switch:checked + div > div {
  transform: translate3d(46px, 0, 0);
}
